@import "./_variables.scss";
@import "./_fonts.scss";
@import "./header";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.flex-body-1{
  background-color:#4FC3F7;
  height: 90vh;
}
.flex-body-2{
  display: flex;
  background-color: #81D4FA;
  height: 80vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: padd;
}
.flex-body-3{
  background-color: #B3E5FC;
  height: 80vh;
}
.new-movies{
  height: 40rem;
}
#Toplog{
  height: 20vh;
  position: relative;
}
#scale{
  width: 60%;
  position: absolute;
  position: 10, 20 ,10, 50;
}