@import "./_fonts.scss";
@import "./header";
$colors: (
    primary: #372d 
);
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  height: 100%;
}
.flex-body-1{
  background-color:#4FC3F7;
  height: 80vh;
}
.flex-body-2{
  background-color: #81D4FA;
  height: 80vh;
}
.flex-body-3{
  background-color: #B3E5FC;
  height: 80vh;
}
.new-movies{
  height: 70%;
  flex-direction: row;
}